@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-matcha-50: #f4f7ec;
  --color-matcha-100: #e6eed3;
  --color-matcha-200: #cddfa8;
  --color-matcha-300: #b0c97a;
  --color-matcha-400: #9bb85c;
  --color-matcha-500: #7a9a3e;
  --color-matcha-600: #5f7a2f;
}
